

  <div class="panel panel-default">
    <div class="panel-heading"><div class="row">
    <div class="col-xs-8">
        <p class="padding">Madison,Wi&nbsp;&nbsp;USA</p>
    </div>
    <div class="col-xs-4 text-xs-right">
        <h3 class="padding">1&deg;</h3>
    </div></div></div>
    <div class="panel-body"><h1 class="padding">0</h1>
    <p class="padding">Rain</p></div>
    <div class="panel-footer">
    <div class="row">
    <div class="col-xs-5">
        <p class="padding">Wind</p>
        <p class="padding">2mph</p>
    </div>
    <div class="col-xs-5 col-xs-offset-2">
        <p>Humidity</p>
        <p>69%</p>
    </div>
    </div>
    </div>
  </div>