<div class="card">
<div class="card-block">
    <form  class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
        <div class="form-group">
    <label for="city" class="control-label col-xs-2">City: </label>
    <div class="col-xs-4">
        <div class = "input-group">
            <input  class="form-control" type="text" id="cityName" name="cityName" required ngModel>          
            <span class = "input-group-btn">
                <button class="btn btn-primary" type="submit">Add City</button>
            </span>               
            </div>
            </div>
            </div>
            </div>
</form>
</div>
</div>