.panel{
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.24);
transition: background-color .5s ease;
cursor: pointer;
width: 250px;
height: 280px;
}

.panel,
.panel-heading,
.panel-footer{
    border:none;
    border-radius: #00BCD4;
    background-color: #1F4B7C;
    color: #FFF;
}.panel-heading,
.panel-footer{
    padding: 1rem .5rem;
    background-color: transparent;
}
#location-wrapper{
    font-size: 1.1rem;
}
#location-icon{
    padding-right: .5rem;
}
.panel-body{
    padding: 1.5rem;
}
#indicator{
    height: 80px;
    position: relative;
}
#indicator i{
   position: absolute;
   top: 50%;
   left:50%;
   width: 50%;
    margin: -8% 0 0 -25%;
}
canvas{
    width: 40%;
    height: 40%;
    max-width: 250px;
    margin-bottom: 1rem;

}

.panel-body,
.panel-footer{
    text-align: center;
}
#detail-row{
    font-size: .8rem;
}

.panel-footer{
    padding-bottom: .5rem;
}

 #helper-text{
padding-top:.5rem; 
}

p{
    margin: .2rem;

}
p:not(.unit-label){
    text-transform: uppercase;
}